.controls {
  display: flex;
  gap: 20px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: flex-start;
  width: 100%;
  gap: 20px;
}

.columns > * {
  min-width: 0;
  min-height: 0;
}

@media (max-width: 600px) {
  .columns {
    grid-template-columns: 1fr;
  }
}
