.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.75em 1em;
  border-radius: var(--rounded);
  color: var(--off-white);
  text-decoration: none;
}

.button:hover {
  color: var(--off-white);
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  border-radius: var(--rounded);
  transition: opacity var(--fast);
  z-index: -1;
}

.button:before {
  padding: 2px;
  -webkit-mask: linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.button:after {
  opacity: 0;
}

.button:hover:after {
  opacity: 1;
}

.icon {
  position: relative;
  top: -0.05em;
  height: 1em;
  flex-shrink: 0;
  transition: transform var(--fast);
}

.button:hover .icon {
  transform: scale(1.1);
}
