.header {
  display: flex;
  z-index: 0;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
  gap: 20px;
}

.header[data-big="true"] {
  flex-direction: column;
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 40px;
}

.title {
  display: grid;
  grid-template-columns: auto auto min-content;
  place-items: center;
  gap: 20px;
  color: var(--white);
  text-decoration: none;
}

.logo {
  min-height: 100%;
}

.divider {
  width: 2px;
  height: 100%;
  background: var(--white);
}

.header[data-big="false"] .h1 {
  font-size: 1rem;
}
