.input {
  display: block;
  width: 300px;
  max-width: 100%;
  height: 40px;
  margin: auto;
  padding: 0 10px;
  border: none;
  border-radius: var(--rounded);
  background: var(--dark-gray);
  color: inherit;
  font: inherit;
  transition: background var(--fast);
}

.input:hover {
  background: var(--gray);
}

.input::placeholder {
  color: var(--light-gray);
}
