.wrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.input {
  flex-grow: 1;
  min-height: 40px;
  padding: 6px 40px 6px 10px;
  border: none;
  border-radius: var(--rounded);
  background: var(--dark-gray);
  color: inherit;
  font: inherit;
  scrollbar-gutter: stable;
  transition: background var(--fast);
}

.input:hover {
  background: var(--gray);
}

.input::placeholder {
  color: var(--light-gray);
}

.button {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.button svg {
  color: var(--light-gray);
  transition: color var(--fast);
}

.button:hover svg {
  color: var(--white);
}
