.subtitle {
  max-width: 500px;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: var(--compact);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.2rem;
}
