.cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  gap: 40px;
}

.cols h3 {
  text-align: left;
}

.logo {
  display: flex;
  align-self: center;
}

.logo img {
  width: 100%;
  max-width: 300px;
  max-height: 50px;
}

@media (max-width: 800px) {
  .cols {
    grid-template-columns: 1fr;
  }
}
