.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
  background: radial-gradient(
    ellipse 75% 100% at top center,
    var(--gray),
    transparent
  );
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
}

.divider {
  width: 2px;
  height: 100%;
  background: white;
}

.logo {
  color: white;
  height: 100%;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  color: var(--light);
  text-wrap: balance;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.3rem;
  }

  .title {
    height: 70px;
  }
}
