.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
  overflow: hidden;
  z-index: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 120px;
}

.logo {
  color: var(--white);
  height: 100%;
}

.divider {
  width: 2px;
  height: 100%;
  background: var(--white);
}

.h1 {
  width: min-content;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  color: var(--off-white);
  text-wrap: balance;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .h1 {
    font-size: 1.3rem;
  }

  .title {
    height: 70px;
  }
}
