.header {
  display: flex;
  z-index: 0;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  gap: 40px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  gap: 20px;
}

.logo {
  height: 100%;
}

.divider {
  width: 2px;
  height: 100%;
  background: var(--white);
}

.h1 {
  width: min-content;
}

.subtitle {
  text-wrap: balance;
  color: var(--off-white);
  font-weight: 200;
  font-size: 1.2rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .h1 {
    font-size: 1.2rem;
  }

  .title {
    height: 60px;
  }
}
