.svg {
  width: 100%;
  /* outline: solid 1px var(--gray); */
}

.outline {
  fill: none;
  stroke: var(--gray);
  stroke-width: 0.5;
}

.graticule {
  fill: none;
  stroke: var(--dark-gray);
  stroke-width: 0.5;
}

.feature {
  stroke: var(--black);
  stroke-width: 0.5;
  cursor: pointer;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  overflow-wrap: anywhere;
}

.legend > :first-child {
  text-align: right;
}

.gradient {
  width: 100px;
  height: 10px;
  background: linear-gradient(to right, var(--gray), var(--primary));
}
