:root {
  /* https://tailwindcolor.com/ */
  /* https://www.materialpalette.com/colors */
  --off-black: #111827;
  --dark-gray: #334155;
  --gray: #475569;
  --light-gray: #64748b;
  --off-white: #e2e8f0;
  --primary: #d239ed;
  --secondary: #4962f3;
  --rounded: 5px;
  --fast: 0.25s ease;
}

@font-face {
  font-family: "Mona Sans";
  src: url("@/assets/MonaSans.woff2") format("woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--off-black);
  color: white;
  font-size: 14pt;
  font-family: "Mona Sans";
  font-weight: 300;
  line-height: 1em;
}

header,
section,
footer {
  padding: 40px max(calc((100% - var(--col)) / 2), 40px);
}

header,
footer {
  --col: 500px;
}

section {
  --col: 1000px;
}

p {
  text-align: justify;
  line-height: 1.75em;
}

button {
  all: unset;
  cursor: pointer;
  transition: background var(--fast), color var(--fast);
}

a {
  cursor: pointer;
  transition: background var(--fast), color var(--fast);
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  margin: 0;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2.2rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
}

:focus:not(:focus-visible) {
  outline: none;
}

svg text {
  fill: currentColor;
  font-size: 1.2rem;
}

svg .title {
  font-size: 1.5rem !important;
}

svg .graticule {
  fill: none;
  stroke: var(--dark-gray);
  stroke-width: 0.5;
}

svg .country {
  /* fill: var(--gray); */
  stroke: var(--dark-gray);
  stroke-width: 0.5;
}

svg [data-tooltip]:hover {
  /* opacity: 0.5; */
  fill: white;
}

.tippy-box {
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--gray);
  font-size: 1rem;
  box-shadow: 0 0 10px var(--off-black);
}

.tippy-content {
  padding: 0;
}

.tippy-arrow {
  color: var(--gray);
  z-index: 99;
}

.tooltip-table {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 15px;
  margin: 5px;
}

.tooltip-table > *:nth-child(odd) {
  font-weight: 500;
}

[data-tooltip] {
  cursor: help;
}
