:root {
  /* https://tailwindcolor.com/ */
  /* https://www.materialpalette.com/colors */

  /* 900 */
  --black: #101829;
  /* 700 */
  --dark-gray: #354153;
  /** 500 */
  --gray: #687386;
  /** 400 */
  --light-gray: #94a3b8;
  /** 200 */
  --white: #e4e8ee;

  --primary: #e23fff;
  --secondary: #556eff;
  --primary-light: #f19fff;
  --secondary-light: #aab7ff;

  --rounded: 5px;
  --fast: 0.25s ease;
  --shadow: 0 0 10px #00000020;

  --spacing: 2em;
  --compact: 1.5em;
}

@font-face {
  font-weight: 200 900;
  src: url("@/assets/MonaSans.woff2") format("woff2");
  font-stretch: 75% 125%;
  font-family: "Mona Sans";
}

* {
  box-sizing: border-box;
}

html {
  background: var(--black);
  color: var(--white);
  font-weight: 300;
  font-size: 14pt;
  line-height: var(--spacing);
  font-family: "Mona Sans";
}

body {
  min-height: 100vh;
  margin: 0;
}

header,
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px max(calc((100% - var(--col)) / 2), 40px);
  gap: 40px;
}

header,
footer {
  --col: 600px;
}

section {
  --col: 1200px;
}

section:nth-child(odd) {
  background: #8080ff10;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: var(--compact);
}

h1 {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.25em;
  letter-spacing: 1px;
}

h2 {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}

b,
strong {
  font-weight: 600;
}

p,
ul,
ol,
code {
  width: 100%;
  margin: 0;
}

p {
  width: 66%;
  text-align: justify;
}

a {
  color: var(--secondary-light);
  transition: color var(--fast);
}

a:hover {
  color: var(--primary-light);
}

code {
  padding: 2px 5px;
  border-radius: var(--rounded);
  background: var(--dark-gray);
  font-family: "IBM Plex Mono", monospace;
}

li {
  padding-left: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr:last-child {
  border-bottom: solid 1px var(--gray);
}

th {
  font-weight: 400;
}

tbody tr:nth-child(even) {
  background: #ffffff08;
}

th,
td {
  padding: 5px 10px;
  text-align: left;
}

svg text {
  fill: currentColor;
  font-size: 1.2rem;
}

svg .title {
  font-size: 1.5rem;
}

svg .axis-title {
  font-size: 1.35rem;
}

svg [data-tooltip]:hover {
  fill: var(--white);
}

.inline-svg {
  height: 1em;
  margin-right: 0.35em;
  margin-left: 0.15em;
}

:focus:not(:focus-visible) {
  outline: none;
}

span[data-tooltip] {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

.tippy-box {
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--white);
  color: var(--black);
  font-size: 1rem;
  line-height: var(--compact);
}

.tippy-content {
  padding: 0;
}

.tippy-content a {
  color: var(--secondary);
}

.tippy-content a:hover {
  color: var(--primary);
}

.tippy-arrow {
  z-index: 99;
  color: var(--white);
}

.tooltip-table {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5px;
  gap: 5px 15px;
}

.tooltip-table > *:nth-child(odd) {
  font-weight: 500;
}
