@import "tailwindcss";

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 70rem;

  --color-*: initial;

  --primary-hue: 340;
  --secondary-hue: 300;
  --gray-hue: 280;

  --color-primary: oklch(65% 0.3 var(--primary-hue));
  --color-primary-light: oklch(90% 0.2 var(--primary-hue));
  --color-primary-dark: oklch(30% 0.1 var(--primary-hue));
  --color-secondary: oklch(50% 0.3 var(--secondary-hue));
  --color-secondary-light: oklch(90% 0.2 var(--secondary-hue));
  --color-secondary-dark: oklch(30% 0.1 var(--secondary-hue));

  --color-black: oklch(0% 0.05 var(--gray-hue));
  --color-dark-gray: oklch(25% 0.05 var(--gray-hue));
  --color-gray: oklch(35% 0.05 var(--gray-hue));
  --color-light-gray: oklch(50% 0.05 var(--gray-hue));
  --color-white: oklch(100% 0.05 var(--gray-hue));

  --font-sans: "Mona Sans Variable", sans-serif;

  --shadow-overlay: 0 0 0 9999px oklch(0% 0.05 var(--gray-hue) / 25%);
}

@layer base {
  html {
    @apply bg-black font-sans text-[110%] leading-normal font-light text-white underline-offset-2;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  #root {
    display: contents;
  }

  main {
    @apply flex grow flex-col;
  }

  section {
    @apply width-md even:bg-dark-gray/90 odd:bg-dark-gray flex flex-col items-center gap-12 p-(--pad) px-[max(var(--pad),(100%-(--spacing(1))*var(--width))/2)] [--pad:--spacing(12)] last:grow max-md:[--pad:--spacing(8)];
  }

  h2 {
    @apply flex items-center text-center text-2xl leading-normal font-light tracking-widest uppercase;
  }

  hr {
    @apply h-4 w-full border-none opacity-10;
    background-image: url("@/assets/squiggle.svg");
  }

  b,
  strong {
    @apply font-semibold;
  }

  p {
    @apply text-center leading-loose text-balance;
  }

  a {
    @apply text-secondary-light hover:text-primary-light underline transition;
  }

  table {
    @apply w-full border-collapse rounded-md text-left;
  }

  th,
  td {
    @apply trim p-2;
  }

  thead tr {
    @apply bg-gray;
  }

  tbody tr {
    @apply border-gray bg-dark-gray not-first:border-t;

    td {
      @apply border-gray not-first:border-l;
    }
  }

  dl {
    @apply grid grid-cols-[auto_auto] gap-x-4 gap-y-2;
  }

  dt {
    @apply font-medium opacity-50;
  }

  .icon,
  .lucide {
    @apply inline-block h-[1em];
  }
}

@utility width-md {
  --width: 160;
}

@utility width-lg {
  --width: 300;
}

@utility placeholder {
  @apply bg-gray flex aspect-square w-full items-center justify-center gap-4 rounded-md p-2;
}

@utility table-wrapper {
  @apply border-gray overflow-x-auto rounded-md border;
}

@utility trim {
  text-box: trim-both text;
}
